.comment-form {
    max-width: 600px;
    padding: 1em;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.comment-list h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    max-width: 900px;
}

.comment .comment-meta {
    font-size: 0.85em;
    color: grey;
    border-top: 1px dotted silver;
    padding-top: 8px;
}

.comment .comment-meta input {
    float: right;
}

.comment-body p {
    margin: 8px 4px;
}
.comment-list {
    border-bottom: 1px dotted silver;
    margin-bottom: 12px;
}