body {
    background: linear-gradient(to right, #121212, #470947);
    color: #f2f2f2;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.bg-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.bg-logo {
    position: fixed;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: auto;
    background: transparent;
    opacity: 0.4;
}

p {
    text-align: left;
    margin: 4px 0 4px 0;
    padding: 0 0 0 0;
}

h2, .meta, p {
    text-align: left;
}

.box {
    border: 1px dotted silver;
    border-radius: 5px;
    padding: 4px;
}


a {
    color: #ffccff;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}



.meta {
    color: #d9b3ff;
}


div[style*="border: 1px solid #ff6666;"] {
    background-color: #330033;
    color: #ff9999;
}


.error {
    background-color: #ff6666;
}
.success {
    background-color: #88ff88;
}
.install-password {
    font-size: 1.2em;
}

.top-menu {
    border: 2px solid rgb(80, 80, 80);
    justify-content: space-between;
    position: fixed;
    border-width: 0 0 1px 0;
    min-height: 40px; 
    padding: 10px; 
    margin-bottom: 8px; 
    background-color: #0d0d0d;;
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    top: 0;
    width: 100%;
    z-index: 1000;
}



.menu-options {
    display: flex;
    align-items: center;
    right: 34px;
    position: absolute;
}

.menu-options img {
    margin-left: 10px;
    margin-right: 5px;
    vertical-align: middle;
}

.menu-options a {
    margin-right: 3px;
    margin-left: 3px;
}

h2 {
    color: #f2f2f2;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 14px;
}

h1,  h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.box ul {
    margin: 4px;
    padding-left: 14px;
}
.box ul li {
    margin-bottom: 2px;
}

.comment-margin {
    margin-bottom: 8px;
}

.post-form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    margin-top: 20px;
}

.user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

.user-form div,
.post-form div {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.post-form > div:last-child {
    display: flex;
    justify-content: flex-end;
    flex-direction: row; 
    width: 100%; 
    margin-top: 14px;
}

.post-form input[type="submit"] {
    background-color: #1ea692;
    color: white;
    padding: 10px 20px;
    margin-left: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.post-form input[type="submit"]:hover {
    background-color: #19c3a9; 
}

.post-form a {
    text-decoration: none;
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #ccc; /* Color del enlace de cancelación */
    color: black;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.post-form a:hover {
    background-color: #a1a1a1; /* Color al pasar el cursor */
}



.user-form textarea,
.user-form input[type="text"],
.user-form input[type="password"],
.post-form input[type="text"],
.post-form textarea,
.post-form input[type="password"] {
    width: 99%;
    height: 46px;
    background-color: #4d4d4d;
    border: none;
    color: #f2f2f2;
    border-radius: 12px;
    font-size: medium;
    padding-left: 16px;
}

.user-form textarea,
.post-form textarea {
    height: 100px;
    padding-top: 10px;
}


.user-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px; 
    border: none;
}

.user-form label {
    font-size: 0.95em;
    width: 7em;
    color: grey;
    float: left;
    text-align: right;
    clear: left;
}

.read-more a {
    text-decoration: none;
    color: #f2f2f2;
    font-size: 0.9em;
}

.form-title {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    color: #333;
}


.form-group {
    margin-bottom: 1em;
}

.form-label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.form-input {
    width: 30%;
    padding: 0.3em;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-textarea {
    width: 40%;
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-submit-button {
    padding: 0.3em 0.7em;
    font-size: 1em;
    background-color: rgb(37, 37, 225);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.form-submit-button:hover {
    background-color: rgb(72, 21, 131);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}


.content {
    flex: 1;
    max-width: 800px;
    padding: 20px;
}



.content-container {
    margin: 0;
    padding-top: 50px;
    padding-left: calc(10% + 80px);
    box-sizing: border-box;
    align-items: center;
}


.main-container {
    justify-content: center;
    padding-top: 60px;
    padding-left: 277px;
    width: auto;
    align-items: center;
    
    
}

.top-bar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #33334d;
    color: #e0e0e0;
    padding: 10px 20px;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.sidebar-left, .sidebar-right {
    width: 120px;
    position: fixed;
    top: 60px;
    height: calc(100% - 60px);
    background-color: #2a2a3a;
    padding: 20px;
    box-sizing: border-box;
    z-index: 800;
}

.sidebar-left {
    left: 0;
}

.sidebar-right {
    right: 0;
}

.sidebar-right-placeholder {
    width: 120px;
}


.menu-gif img {
    height: 70px;
    margin-left: -240px;
    margin-bottom: -12px;
    z-index: 2;

}

.menu-logo img {
    height: 44px;
    margin-top: 4px;
    margin-left: 12px;
    
    z-index: 1;
}

.left-menu {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}


.main-logo-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra los logos horizontalmente */
    width: 50%; 
    position: absolute;
    left: 0; 
    top: 40%;
    transform: translateY(-50%); 
    flex-direction: column-reverse; /* Mantiene el orden de los logos */
}

.main-logo {
    display: flex;
    justify-content: center; /* Centra el contenido dentro del .main-logo */
    width: 100%; /* Asegura que los logos ocupen toda la anchura disponible */
    margin: 10px 0; /* Añade un margen vertical entre los logos */
}

.main-logo img {
    max-width: 40%; /* Controla el tamaño máximo de las imágenes */
}

.principal-column {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 56%;
    box-sizing: border-box;
}

.reserved-rights {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #e0e0e0;
    padding: 10px 20px;
    z-index: 1000;
    padding-left: 20px;
}

textarea {
    resize: vertical; /* Permite el redimensionamiento solo en dirección vertical */
}















