.profile {
    
}
.profile img {
    background-color: "black";
}

.profile-image-large {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}


.profile-image-medium {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}


.profile-image-small {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}